main {
  .right-side-content {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 50px;

    form.form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 386px;

      section.input-container {

        //default stuff
        margin-top: 30px;
        position: relative;

        label {
          font-size: 0.875rem;
          color: #555555;
        }

        .error-text{
          display: none;
          color: #EA4989;
          font-size: 0.7rem;
          position: absolute;
          left: 14px;
          top: calc(100% - 5px);
        }

        &.error{
          .error-text{
            display: block;
          }
          label{
            color: #EA4989;
          }
          input, select{
            border-color: #EA4989!important;
          }
        }

        input, select {
          padding-left: 14px;
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          border: 1px solid #C6C6C6;
          border-radius: 5px;
          background: #FFFFFF;
          transition: 0.15s ease;

          &:focus {
            outline: none;
            border-color: #6E6E6E;
          }
        }

        //moving labels
        input {
          & ~ .moving-label {
            position: absolute;
            bottom: 20px;
            transform: translateY(50%);
            left: 10px;
            transition: 0.15s ease;
            cursor: text;
            background-color: #FFFFFF;
            padding: 0 5px;
          }

          &:focus, &:valid{
            & ~ .moving-label {
              background: #FFFFFF;
              transform: translateY(calc(-50% - 5px)) scale(0.8) translateX(-10%);
              cursor: default;
            }
          }
        }

        // date inputs
        &.date-inputs-container {
          display: flex;
          flex-direction: column;

          & > label {
            margin-bottom: 10px;
          }

          #date-inputs {
            display: flex;
            justify-content: space-between;

            .date-input {
              &::placeholder{
                color: #A6A6A6;
              }
            }

            .month-input {
              width: 189px;
              select{
                &:invalid{
                  color: #A6A6A6;
                }
                option{
                  color: black;
                }
                option[value=""]{
                  color: #A6A6A6;
                }
              }

            }

            .day-input {
              width: 69px;
            }

            .year-input {
              width: 99px;
            }
          }
        }

        // gender radio buttons
        &.gender-inputs-container {
          & > label {
            display: block;
            margin-bottom: 10px;
          }

          #genders-buttons {
            section {
              display: inline-flex;
              align-items: center;
              margin-right: 15px;

              input {
                width: auto;
                height: 18px;
                margin-right: 14px;
                font-weight: 700;
              }

              label {
                color: #333333;
                width: 57px;
              }
            }

          }
        }

        // terms checkbox
        &.terms-checkbox-container {
          display: flex;
          align-items: center;

          input {
            display: inline;
            width: 18px;
            height: 18px;
            margin-right: 14px;
          }
        }
      }

      // submit button
      button {
        margin-top: 25px;
        border-radius: 5px;
        background: #8889B9;
        font-weight: 500;
        border: none;
        color: white;
        padding: 12px 0;

        &:focus {
          outline: none
        }

        &:hover{
          filter: brightness(90%);
          cursor: pointer;
        }
      }
    }
  }

}
